GOOGLE_GENERATIVE_AI_API_KEY = AIzaSyAOg1WH-SB7c2QHJROFD87Vk3ECgf9_fWk
#For front-end searching
EXPO_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJ...

# Only for sever
# SUPABASE_SERVICE_ROLE=key_goes_here
